<section class="clients">
  <div class="row top">
    <div class="col-md-3 col-sm-12">
      <div class="block">
        <img src="/img/client-appannie.png" />
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="block">
        <img src="/img/client-atmosera.png" />
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="block">
        <img src="/img/client-contentstack.png" />
      </div>
    </div>
    <div class="col-md-3 col-sm-12" style="border: solid 1px #ff6600;">
      <a href="/about/casestudies/extrahop/">
        <div class="block">
          <img src="/img/client-extrahop.png" />
        </div>
      </a>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-md-3 col-sm-12">
      <div class="block">
        <img src="/img/client-informatica.png" />
      </div>
    </div>
    <div class="col-md-3 col-sm-12" style="border: solid 1px #ff6600;">
      <a href="/about/casestudies/netgear/">
        <div class="block">
          <img src="/img/client-netgear.png" />
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="block">
        <img src="/img/client-proofpoint.png" />
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="block">
        <img src="/img/client-weaveworks.png" />
      </div>
    </div>
  </div>
</section>
