<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="text-align:left;font-size:.75em;color:#a0a0a0a;line-height:1.5em;padding-top: 2em;">
        <img style="width:50px;"src="{{ site.baseurl }}/img/logo-rgb.png" alt="Logo"></li>
        <p>
          3014 Dauphine St.
          <br>Suite P
          <br>New Orleans, LA 70117
          <br>Email: mike@mkgmarketinginc.com
          <br>Phone: +1 504 355 1436
        </p>
        <p>
          914 164th St SE B12
          <br>#194
          <br>Mill Creek, WA 98012
        </p>
        <p>
          2005 SE 192nd Ave.
          <br>Suite #200
          <br>Camas, WA 98607
        </p>
      </div>
      <div class="col-md-3" style="text-align:left;font-size:.75em;color:#a0a0a0a;line-height:1.5em;">
        <h3><b>MKG Difference</b></h3>
        <ul>
          <li><a href="/mkg-difference/services/">Specialties</a></li>
          <li><a href="/mkg-difference/experts/">Experts</a></li>
          <li><a href="/mkg-difference/agile/">Agile</a></li>
        </ul>
        <h3><b>About Us</b></h3>
        <ul>
          <li><a href="/about/casestudies/">Case Studies</a></li>
          <li><a href="/about/people/">Meet the Team</a></li>
          <li><a href="/about/values/">Our Values</a></li>
        </ul>
        <h3><b>Services</b></h3>
        <ul>
          <li><a href="/services/search-engine-optimization/">Search Engine Optimization</a></li>
          <li><a href="/services/pay-per-click/">Pay Per Click</a></li>
          <li><a href="/services/analytics/">Website &amp; Campaign Analytics</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="text-align:left;font-size:.75em;color:#a0a0a0a;line-height:1.5em;">
        <h3><b>Contact</b></h3>
        <ul>
          <li><a href="/contact/">Let's Connect</a></li>
          <li><a href="/audit/">Request an Audit</a></li>
        </ul>
        <h3><b>Blog</b></h3>
        <ul>
          <li><a href="/category/seo/">SEO Blog Posts</a></li>
          <li><a href="/category/ppc/">PPC Blog Posts</a></li>
          <li><a href="/category/analytics/">Analytics Blog Posts</a></li>
          <li><a href="/category/podcasts/">Hard Questions Podcasts</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="text-align:left;font-size:.75em;color:#a0a0a0a;line-height:1.5em;">
        <h3><b>Reviews</b></h3>
        <div class="clutch-widget" data-url="https://clutch.co" data-widget-type="3" data-height="350" data-clutchcompany-id="324907"></div>
      </div>
    </div>
    <div class="row">
      <div class="footer-manu copyright">
        <p>&copy; 2018 MKG Marketing Inc.</p>
        <ul class="social icons">
          <li><a href="https://www.facebook.com/mkgmarketinginc/"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.twitter.com/mkgmarketinginc/"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/mkg-media-group/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://plus.google.com/+MKGMediaGroup"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58012e89a86071b6"></script>
<script type="text/javascript" src="https://static1.clutch.co/api/widget.js"></script>
