
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="block">
      <h3><a href="/services/search-engine-optimization/">Search Engine Optimization</a></h3>
      <p>SEO is the long game with the biggest long term gains. There are some initial quick win fixes we’ll provide and as we build on that you’ll constantly see success year over year.</p>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="block">
      <h3><a href="/services/pay-per-click/">Pay-Per-Click (Search, Display, & Social)</a></h3>
      <p>PPC is the short term game. This was the quickest way to drive leads and/or revenue. You put money in. You get money back usually within the first three - six months.</p>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="block">
      <h3><a href="/services/analytics/">Website and Campaign Analytics</a></h3>
      <p>Analytics is important because your funnel needs to be set up accurately to see how SEO or PPC are performing so we can say channel x is driving these exact outcomes.</p>
    </div>
  </div>
</div>
