---
layout: page
---

{% include global-header.html %}


<section id="intro" style="padding-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <p>{{page.quote}}</p>
          </div>
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </div>
</section>




<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Get started</h2>
          <p>Want to see how we'd approach your brand without commiting your whole advertising budget up front? Let us perform an audit and articulate our ideas as it pertains to your brand.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/audit/" >Request an audit</a>
        </div>
      </div>
    </div>
  </div>
</section>
